/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #f4f4f4; */
}
.search-item {
  position: relative;
}
.search-input {
  position: relative;
  display: inline-block;
  width: 150px;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: 0;
  outline: 0;
  border-radius: 30px;
  transition: 0.5s ease-in;
}
.search-input:focus {
  width: 400px;
}
.fa-search {
  position: absolute;
  top: 9px;
  right: 10px;
}
.banner {
  padding-top: 45px;
}
.bg-color {
  background-color: #feeae9;
}
.text-color {
  color: #ff9d00;
}
.color {
  color: #ff136f;
}

.link-btn {
  background-color: #ff136f;
}

/* categories styles */
#categories img {
  width: 70px;
  height: 90px;
  object-fit: cover;
}
.watch {
  background: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
}
.bag {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
.shoes {
  background: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
}

main {
  background-color: #f4f4f4;
}
